<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/vlcclogin.css">
  <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
   <link rel="icon" type="image/png" href="images/fav.png">
   <style type="text/css">
    /* Footer */
footer{
   background-color: #f56300;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #ffffff;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}    </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
        <script src="/js/moment-with-locales.js"></script>
       <script src="/js/bootstrap-datetimepicker.js"></script>
        
        
  
<title>Book Appointment</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;></div>
<div th:replace="fragments/vlccfooter :: footer">&nbsp;></div>
<div class="col-md-8 well">
            <div class="row">
    <div class="col-md-12" style=" padding-top: 20px">
    	<form action="#" th:action="@{/saveuser}" method="post" th:object="${Login}">
			<h2>Book Appointment</h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Name" tabindex="1">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="service" id="service" class="form-control input-lg" placeholder="Service" tabindex="2">
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
			</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="mobileNumber" id="mobileNumber" class="form-control input-lg" placeholder="Mobile Number" tabindex="4">
			</div>
			</div>
			</div>
			<div class="row">
			
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="address" id="address" class="form-control input-lg" placeholder="Address" tabindex="5">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						
					<div class='input-group date' id="appointmentDate" >
                   <input type="text"  name="appointmentDate" class="form-control input-lg" placeholder="Appointment Date & Time" tabindex="6">
					<label class="input-group-addon btn" for="appointmentDate">
                    <span class="input-group-addon">
                    <span class="fa fa-calendar open-datetimepicker"></span>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </label>
                </div>
					
					
					</div>
				</div>
			</div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"></div>
				<div class="col-xs-12 col-md-6"><input type="submit" class="btn btn-success btn-block btn-lg"></div>
			</div>
		</form>
	</div>
</div>
</div>
 <script type="text/javascript">
 $('.open-datetimepicker').click(function(event){
	    event.preventDefault();
	    $('#appointmentDate').click();
	});
        </script>
        

</body>
</html>