<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/vlcclogin.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
   <link rel="icon" type="image/png" href="images/fav.png">
<title>VLCC Kalyanpur</title>
</head>
<body>
    <form action="login" method="post">
       
<div id="login-modal" aria-labelledby="myModalLabel">
              <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>VLCC Kalyanpur</h1>
					<p>Please enter your username and password</p>
					<input style = "color:#000000" type="text" name="username" placeholder="Username">
					<input style = "color:#000000" type="password" name="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				 
				  <div class="login-help">
					<a href="#" style = "color:#ffffff">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
        
        
    </form>

</body>
</html>